{% extends 'base.html.twig' %}

{% block title %}CGU!{% endblock %}

{% block body %}
 <h1>CGU</h1>

    <p class="container"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad aliquam commodi deserunt dolorum esse eveniet ex in incidunt magnam, molestias necessitatibus nesciunt nostrum odio porro quam quo voluptatum.</span><span>Eligendi est quae quas. Excepturi harum ipsum magni molestiae nemo numquam possimus quaerat ullam voluptatem. Asperiores eum labore non nostrum officia possimus ratione rem reprehenderit, sit, sunt suscipit temporibus velit!</span><span>Delectus facere magni molestiae vel! Ab at atque cupiditate, deserunt doloribus eius fuga illum incidunt ipsum, laboriosam magni minima molestias nihil, nobis nostrum officia provident recusandae repellat saepe suscipit unde!</span></p>
{% endblock %}