{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}

    <h1>Welcome to the agence Stephane Plaza</h1>

    <p class="container"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci cupiditate, dolor eaque earum enim exercitationem, expedita laboriosam, maiores modi neque nisi odit officia optio qui quibusdam sunt voluptate voluptatum.</span><span>Aspernatur, ea, unde? Adipisci aut autem dolores dolorum enim expedita impedit incidunt ipsa laborum maiores natus nesciunt nulla, obcaecati provident quisquam ratione saepe sapiente tempora! Ab dolorem inventore obcaecati omnis.</span><span>Aliquid dolorem iure maiores numquam? Accusamus ad adipisci aliquam, beatae consequatur fugiat impedit, inventore ipsa laudantium maiores, natus nemo numquam officiis placeat possimus quia quis quisquam quo unde vel vitae.</span></p>
{% endblock %}
