{% extends 'base.html.twig' %}

{% block title %}Mentions légales!{% endblock %}

{% block body %}

    <h1>Mentions légales</h1>

    <p class="container"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam commodi cum dolores ea eos error facere impedit odio odit, omnis provident quia quibusdam repudiandae soluta voluptate voluptatem voluptatum? Provident?</span><span>Ab at autem blanditiis consectetur dignissimos distinctio dolorem eius eveniet fugiat iure nesciunt nobis nulla numquam omnis optio perspiciatis quam quia quibusdam, quod quos repudiandae sapiente sed soluta vero voluptates.</span><span>Ad amet consequuntur, debitis dicta dolor, dolores enim, ex magnam quibusdam sit temporibus veniam veritatis! At dolorum est nobis pariatur quasi, quia ratione sint! Consequatur explicabo libero nostrum quod sint?</span></p>
{% endblock %}