{% extends 'base.html.twig' %}

{% block title %}Présentation!{% endblock %}





{% block body %}

    <h1 class="">Présentation</h1>

   <div class="container">
    <p class="container"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores blanditiis cumque cupiditate dicta dolor dolorem ducimus ex hic impedit iste iusto nesciunt officia placeat provident quaerat quisquam sequi, voluptatibus!</span><span>Aspernatur at esse fugiat ipsam minima nihil reprehenderit veritatis. Adipisci architecto commodi culpa ea esse, exercitationem facere harum hic labore odio omnis optio recusandae sapiente! Nam quae quia quisquam similique?</span><span>Debitis error impedit ratione? Ad aliquam aliquid autem doloremque error ex expedita fugit modi molestias, nobis non obcaecati odit optio reiciendis rerum sed, soluta temporibus unde? Alias ipsa laboriosam quaerat.</span><span>Accusamus aliquam assumenda atque consequuntur deserunt est explicabo itaque maiores molestias nisi nostrum, pariatur porro qui ratione suscipit veniam, voluptas. Aspernatur, aut deleniti dicta error iure libero nam praesentium quisquam.</span></p>
    </div>
    <div class="container">
    <img src="image\agentImmo.jpg" alt="image d'agent immobilier" width="300" height="200">
    </div>
{% endblock %}